@import '../../../styles/variables.scss';

.Button {
  cursor: pointer;

  color: black;
  position: relative;
  z-index: 1;

  overflow: hidden;
  border-radius: 5px;

  transition: color 0.3s, box-shadow 0.5s;

  &::after {
    content: '';
    width: 200%;
    height: 100%;
    background: linear-gradient(
      135deg,
      $primaryColor1,
      $primaryColor2,
      $primaryColor3,
      $primaryColor1
    );

    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    z-index: -1;

    transition: transform 0.5s;
  }

  &:hover {
    color: $darkColor;
    box-shadow: 0 0 5px 0 $primaryColor3;

    &::after {
      transform: translateX(-50%);
    }
  }

  font-size: 12px;
  font-weight: 600;
}
