@import '../../styles/variables.scss';

.Catalog {
  margin-top: 32px;

  .Content {
    .Title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 48px;
        font-weight: 900;

        margin-bottom: 20px;
      }

      p {
        font-size: 17px;
        font-weight: 600;

        .Logo {
          font-weight: 900;
        }
      }
    }

    .List {
      margin-top: 50px;

      ul {
        background-color: $lightColor;
        display: grid;
        gap: 1px;

        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}
