@import '../../styles/variables.scss';

.Catalog {
  margin-top: 32px;

  .Content {
    .Title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 48px;
        font-weight: 900;

        margin-bottom: 20px;
      }

      p {
        font-size: 17px;
        font-weight: 600;

        .Logo {
          font-weight: 900;
        }
      }
    }

    .List {
      margin-top: 50px;

      ul {
        background-color: $lightColor;
        display: grid;
        gap: 1px;

        grid-template-columns: repeat(5, 1fr);
        @media (max-width: $md3) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $md4) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $md5) {
          grid-template-columns: repeat(2, 1fr);
        }

        .Card {
          aspect-ratio: 1/1;
          box-shadow: 0 0 0 1px $lightenDarkColor;

          a {
            width: 100%;
            height: 100%;

            padding: 20px;
            @media (max-width: $md4) {
              padding: 10px;
            }

            display: flex;
            align-items: flex-end;
            justify-content: center;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            p {
              font-size: 18px;
              z-index: 1;

              @media (max-width: $md3) {
                font-size: 16px;
              }

              @media (max-width: $md4) {
                font-size: 14px;
              }
            }
          }

          position: relative;

          &::after {
            content: '';

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            background: transparent;
            transition: background 0.3s;
          }

          &:hover::after {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
