@import '../../styles/variables.scss';

.Discount {
  margin-top: 50px;

  .Content {
    .Title {
      display: flex;
      justify-content: center;

      div {
        position: relative;

        h2 {
          font-size: 48px;
          font-weight: 900;

          margin-bottom: 20px;
        }

        p {
          position: absolute;

          &:nth-child(1) {
            font-size: 28px;
            font-weight: 900;

            left: -20px;
            transform: rotate(10deg);
          }

          &:nth-child(2) {
            font-size: 24px;
            font-weight: 800;

            left: -36px;
            top: 23px;
            transform: rotate(-26deg);
          }

          &:nth-child(3) {
            font-size: 20px;
            font-weight: 700;

            right: -20px;
            top: -2px;
            transform: rotate(-26deg);
          }

          @media (max-width: $md7) {
            display: none;
          }
        }
      }
    }

    .Filters {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        li {
          cursor: pointer;
          padding: 4px 12px;

          background-color: transparent;
          box-shadow: 0 2px 4px 0 transparent;
          border-radius: 5px;

          transition: background 0.3s, box-shadow 0.3s, color 0.3s;

          color: $lightDarkColor;

          font-size: 14px;
          font-weight: 600;

          &.Active {
            background-color: $lightColor;
            color: $darkColor;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          }

          &:hover {
            color: $darkColor;
          }
        }
      }
    }

    .Sorting {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;

      > div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 10px;

        .Select {
          width: 90px;
          height: 26px;

          > div:first-child {
            padding: 4px 0 4px 16px;
          }
        }

        button {
          cursor: pointer;

          background-color: transparent;
          box-shadow: 0 2px 4px 0 transparent;
          border-radius: 5px;

          transition: background 0.3s, box-shadow 0.3s, color 0.3s;

          font-size: 26px;
          font-weight: 600;

          background-color: $lightColor;
          color: $lightDarkColor;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

          width: 26px;
          height: 26px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .List {
      margin-top: 20px;
      overflow: hidden;

      ul {
        display: grid;
        gap: 6px;
        overflow: hidden;

        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        // BUG: item that should be hidden is still visible
        // grid-template-rows: repeat(2, auto);
        // @media (max-width: 1044px) {
        //   grid-template-rows: repeat(3, auto);
        // }
        // @media (max-width: 793px) {
        //   grid-template-rows: repeat(4, auto);
        // }
        // @media (max-width: $md5) {
        //   grid-template-rows: repeat(5, auto);
        // }
        // grid-auto-rows: 0;
      }
    }

    > .Button {
      display: flex;
      justify-content: space-between;

      > .Button {
        width: 300px;
        height: 50px;
        margin-top: 20px;

        font-size: 15px;
        font-weight: 800;

        color: $lightDarkColor;
      }
    }
  }
}
