@import '../../../styles/variables.scss';

.Value,
.Options {
  cursor: pointer;

  background-color: transparent;
  box-shadow: 0 2px 4px 0 transparent;
  border-radius: 5px;

  transition: background 0.3s, box-shadow 0.3s, color 0.3s;

  font-size: 14px;
  font-weight: 600;

  color: $lightDarkColor;
  background-color: $lightColor;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.Select {
  position: relative;

  .Value {
    height: 100%;
    width: 100%;
  }

  .Options {
    width: 100%;
    max-height: 200px;
    position: absolute;

    display: flex;
    flex-direction: column;

    left: 0;
    top: calc(100% + 10px);

    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;

    transform-origin: top center;
    transform: scale(0) translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.Open {
      transform: scale(1) translateY(0);
      opacity: 1;
    }

    > li {
      padding: 5px 16px;
      background: transparent;
      transition: background 0.3s;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
