@import '../../styles/variables.scss';

.Partners {
  margin-top: 50px;

  .Title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 48px;
      font-weight: 900;

      margin-bottom: 20px;
    }
  }

  .Slider {
    position: relative;
    margin-top: 20px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: $md4) {
      gap: 10px;
    }

    .Arrow {
      padding-inline: 20px;
      @media (max-width: $md4) {
        padding-inline: 10px;
      }
      height: 40px;
      border-radius: 6px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: $lightColor;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

      z-index: 10;
    }

    .PartnersList {
      // =========TMP==========
      border-radius: 6px;
      // ======================

      position: relative;
      width: 100%;
      height: 60px;

      overflow: hidden;

      .List {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 10px;

        transition: translate 0.5s ease-in-out;

        position: absolute;

        left: 0;
        top: 0;

        .Item {
          position: relative;
          height: 60px;
          width: 200px;

          transition: filter 0.5s;

          &:hover {
            filter: grayscale(100);
          }

          // =========TMP==========
          background-color: green;
          border-radius: 6px;
          // ======================

          .Primary {
            position: absolute;

            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            font-size: 44px;
            font-weight: 900;
          }
        }
      }
    }
  }
}
