@import '../../styles/variables.scss';

.Slider {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $primaryColor2;
  position: relative;

  .Transition {
    pointer-events: none;
  }

  .SliderImage {
    .Image {
      opacity: 0;
      transition: opacity 1s ease-in-out;

      &.Active {
        opacity: 1;
      }
    }
  }

  .Content {
    height: 100%;
  }

  .Background {
    position: absolute;
    left: -150px;
    bottom: 10px;
    z-index: -1;
  }

  .Text {
    position: absolute;

    left: 80px;
    @media (max-width: $md4) {
      left: 0;
    }
    padding-inline: 20px;

    top: 50%;
    transform: translateY(-50%);

    .Logo {
      font-size: 88px;
      font-weight: 900;

      @media (max-width: $md4) {
        font-size: 60px;
      }
      @media (max-width: $md6) {
        font-size: 40px;
      }

      .Primary {
        background: -webkit-linear-gradient(
          -60deg,
          $primaryColor1,
          $primaryColor2,
          $primaryColor3
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p:first-of-type {
      font-size: 32px;
      font-weight: 700;

      @media (max-width: $md4) {
        font-size: 24px;
      }
      @media (max-width: $md6) {
        font-size: 18px;
      }
    }
    p:last-of-type {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;

      @media (max-width: $md4) {
        font-size: 16px;
      }
      @media (max-width: $md6) {
        font-size: 12px;
      }
    }

    .Button {
      width: 100%;
      max-width: 325px;
      height: 50px;

      font-size: 14px;
      font-weight: 800;
      color: $darkColor;

      > a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
