@import '../../../styles/variables.scss';

.Cart {
  > div {
    padding-inline: 12px;
  }

  .Title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px 0;

    h2 {
      font-size: 24px;
      font-weight: 800;
    }
  }

  > div:nth-child(2) {
    border-bottom: 1px solid $lightenDarkColor;
    border-top: 1px solid $lightenDarkColor;
    margin-bottom: 24px;

    @media (max-height: 700px) {
      display: none;
    }

    .List {
      padding-inline: 12px;

      max-height: 360px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;

      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: $lightenDarkColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $primaryColor2;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primaryColor3;
      }

      li {
        width: 100%;
        min-height: 120px;
        background-color: white;
        border: 1px solid $lightenDarkColor;
        border-radius: 6px;

        &:first-of-type {
          border-radius: 0 0 6px 6px;
          border-top: none;
        }
        &:last-of-type {
          border-radius: 6px 6px 0 0;
          border-bottom: none;
        }
      }
    }
  }

  > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;

    .Total {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > p:first-of-type {
        font-size: 14px;
        font-weight: 600;
      }

      > p:last-of-type {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .Button {
      a {
        width: calc(320px - 48px);
        height: 42px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 16px;
        font-weight: 600;
        color: $lightDarkColor;
      }
    }
  }
}
