@import '../../../../styles/variables.scss';

.Card {
  background-color: $lightColor;
  border: 1px solid $lightenDarkColor;
  border-radius: 6px;
  overflow: hidden;

  a {
    aspect-ratio: 1/1;

    overflow: hidden;

    padding: 20px;
    @media (max-width: $md4) {
      padding: 10px;
    }

    display: flex;
    align-items: flex-end;
    justify-content: center;

    p {
      font-size: 18px;
      font-weight: 600;

      color: $lightDarkColor;

      z-index: 1;

      @media (max-width: $md3) {
        font-size: 16px;
      }

      @media (max-width: $md4) {
        font-size: 14px;
      }
    }
  }

  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: transparent;
    transition: background 0.3s;

    pointer-events: none;
  }

  &:hover::after {
    background: rgba(0, 0, 0, 0.1);
  }
}
