@import './reset.scss';
@import './variables.scss';
@import '../assets/fonts/stylesheet.scss';

html,
body {
  font-family: 'Gilroy';
  color: $darkColor;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: $bgColor;

  width: 100vw;
  min-height: 100vh;

  position: relative;

  padding-top: 130px;
  @media (max-width: $md4) {
    padding-top: 90px;
  }
}
