$md1: 1920px;
$md2: 1440px;
$md3: 1280px;
$md4: 768px;
$md5: 600px;
$md6: 480px;
$md7: 420px;

$lightColor: #ffffff;
$darkColor: #252525;
$lightDarkColor: #525252;
$lightenDarkColor: #d8d8d8;
$primaryColor1: #ffe21c;
$primaryColor2: #ffcf00;
$primaryColor3: #ffa000;
$bgColor: #fdfaf4;
